mixin intro() 
    .intro 
        .intro__body.container 
            .intro__content 
                h1.intro__title 
                    .intro__logo.show-sm  
                        img(src="@img/logo.png", alt="" draggable="false")
                    | Fantasy Hearts
                .intro__row 
                    .intro__logo.hide-sm  
                        img(src="@img/logo.png", alt="" draggable="false")
                    .intro__info.pr.br  
                        p.intro__info-p 200 +
                        p.intro__info-title Количество пользователей 
                    .intro__info.pl 
                        p.intro__info-p 18 +
                        p.intro__info-title Возрастной рейтинг 
                p.intro__desc Это новая многопользовательская игра для Android, в которой тактика решает всё.
                .intro__links 
                    a(href="#!" anim="ripple").intro__button Установить 
                    a(href="#!" rel="noreferrer" target="_blank").intro__soc 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 12C24 18.627 18.627 24 12 24C5.373 24 0 18.627 0 12C0 5.373 5.373 0 12 0C18.627 0 24 5.373 24 12ZM12.43 8.859C11.263 9.344 8.93 10.349 5.432 11.873C4.864 12.099 4.566 12.32 4.539 12.536C4.493 12.902 4.951 13.046 5.573 13.241C5.658 13.268 5.746 13.295 5.836 13.325C6.449 13.524 7.273 13.757 7.701 13.766C8.09 13.774 8.524 13.614 9.003 13.286C12.271 11.079 13.958 9.964 14.064 9.94C14.139 9.923 14.243 9.901 14.313 9.964C14.383 10.026 14.376 10.144 14.369 10.176C14.323 10.369 12.529 12.038 11.599 12.902C11.309 13.171 11.104 13.362 11.062 13.406C10.968 13.503 10.872 13.596 10.78 13.685C10.21 14.233 9.784 14.645 10.804 15.317C11.294 15.64 11.686 15.907 12.077 16.173C12.504 16.464 12.93 16.754 13.482 17.116C13.622 17.208 13.756 17.303 13.887 17.396C14.384 17.751 14.831 18.069 15.383 18.019C15.703 17.989 16.035 17.688 16.203 16.789C16.6 14.663 17.382 10.059 17.563 8.161C17.574 8.00341 17.5673 7.84509 17.543 7.689C17.5284 7.56293 17.4671 7.44693 17.371 7.364C17.228 7.247 17.006 7.222 16.906 7.224C16.455 7.232 15.763 7.473 12.43 8.859V8.859Z" fill="white"/>
                        </svg> 
                    a(href="#!" rel="noreferrer" target="_blank").intro__soc 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0.480011C5.63761 0.480011 0.480011 5.63761 0.480011 12C0.480011 18.3624 5.63761 23.52 12 23.52C18.3624 23.52 23.52 18.3624 23.52 12C23.52 5.63761 18.3624 0.480011 12 0.480011ZM16.4304 13.4772C16.4304 13.4772 17.4492 14.4828 17.7 14.9496C17.7072 14.9592 17.7108 14.9688 17.7132 14.9736C17.8152 15.1452 17.8392 15.2784 17.7888 15.378C17.7048 15.5436 17.4168 15.6252 17.3184 15.6324H15.5184C15.3936 15.6324 15.132 15.6 14.8152 15.3816C14.5716 15.2112 14.3316 14.9316 14.0976 14.6592C13.7484 14.2536 13.446 13.9032 13.1412 13.9032C13.1025 13.9031 13.064 13.9092 13.0272 13.9212C12.7968 13.9956 12.5016 14.3244 12.5016 15.2004C12.5016 15.474 12.2856 15.6312 12.1332 15.6312H11.3088C11.028 15.6312 9.56521 15.5328 8.26921 14.166C6.68281 12.492 5.25481 9.13441 5.24281 9.10321C5.15281 8.88601 5.33881 8.76961 5.54161 8.76961H7.35961C7.60201 8.76961 7.68121 8.91721 7.73641 9.04801C7.80121 9.20041 8.03881 9.80641 8.42881 10.488C9.06121 11.5992 9.44881 12.0504 9.75961 12.0504C9.81789 12.0497 9.87513 12.0349 9.92641 12.0072C10.332 11.7816 10.2564 10.3356 10.2384 10.0356C10.2384 9.97921 10.2372 9.38881 10.0296 9.10561C9.88081 8.90041 9.62761 8.82241 9.47401 8.79361C9.53618 8.70782 9.61809 8.63826 9.71281 8.59081C9.99121 8.45161 10.4928 8.43121 10.9908 8.43121H11.268C11.808 8.43841 11.9472 8.47321 12.1428 8.52241C12.5388 8.61721 12.5472 8.87281 12.5124 9.74761C12.5016 9.99601 12.4908 10.2768 12.4908 10.608C12.4908 10.68 12.4872 10.7568 12.4872 10.8384C12.4752 11.2836 12.4608 11.7888 12.7752 11.9964C12.8162 12.0221 12.8636 12.0358 12.912 12.036C13.0212 12.036 13.35 12.036 14.2404 10.5084C14.515 10.0167 14.7536 9.50578 14.9544 8.97961C14.9724 8.94841 15.0252 8.85241 15.0876 8.81521C15.1337 8.79173 15.1847 8.77979 15.2364 8.78041H17.3736C17.6064 8.78041 17.766 8.81521 17.796 8.90521C17.8488 9.04801 17.7864 9.48361 16.8108 10.8048L16.3752 11.3796C15.4908 12.5388 15.4908 12.5976 16.4304 13.4772V13.4772Z" fill="white"/>
                        </svg>
            .intro__video 
                video(src="files/long-video.mp4" autoplay loop muted) 
                .intro__video-bg 